*{
    margin: 0px;
    padding: 0px;
}
.caja{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hijo{
    background-color: aqua;
    width: 200px;
    height: 200px;
}